<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="../../public/css/style.css" type="text/css">
</head>
<body>
    <%- include('../../public/menu.html') %>
    <main>
        <table>
            <tr>
                <th>Descrição</th>
                <th>Preço</th>
                <th></th>
            </tr>
            <% for (let i=0; i < produtos.length; i++) { %>
                <tr>
                    <td>
                        <%= produtos[i].descricao %>
                    </td>
                    <td>
                        R$ <%= produtos[i].preco %>,00
                    </td>
                    <td><a href="/produto/adicionar/<%= produtos[i].id %>">Comprar</a></td>
                </tr>
                <% } %>
        </table>
    </main>
</body>
</html>