<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar dados</title>
</head>
<body>
    <% if (erros) { %>
        <ul>
            <% for (let i=0; i < erros.length; i++) { %>
                <li>
                    <%= erros[i].msg %>
                </li>
                <% } %>
        </ul>
        <% } %>
            <main>
                <h1>Alterar dados</h1>
                <form action="/usuario/alterar_dados" method="post">
                    <label for="nome">Nome</label>
                    <br>
                    <input type="text" name="nome" id="nome" value="<%= usuario[0].nome %>">
                    <br>
                    <label for="email">Email</label>
                    <br>
                    <input type="email" name="email" id="email" value="<%= usuario[0].email %>">
                    <br><br>
                    <input type="submit" value="Salvar">
                </form>
            </main>
</body>
</html>