<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de produto</title>
  </head>
  <body>
    <%- include('../../public/menuAdmin.html') %>
    <main>
      <form action="/admin/cadastrar_produto" method="post">
        <label for="descricao">Descrição</label>
        <br>
        <input type="text" id="descricao" name="descricao" placeholder="Insira a descrição do produto">
        <br>
        <label for="preco">Preço</label>
        <br>
        <input type="text" name="preco" id="preco" placeholder="Insira o preço do produto">
        <br><br>
        <input type="submit" id="cadastrar" value="Cadastrar">
      </form>
    </main>
  </body>
</html>
