<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produto</title>
</head>
<body>
    <%- include('../../public/menuAdmin.html') %>
    <main>
        <form action="/admin/produtos/salvar/<%=produto[0].id%>" method="post">
            <label>Descrição</label> <br>
            <input type="text" name="descricao" id="descricao" value="<%= produto[0].descricao %>"> <br>
            <label>Preço</label> <br>
            <input type="text" name="preco" id="preco" value="<%= produto[0].preco %>"> <br>
            <input type="submit" value="Salvar">
        </form>
    </main>
</body>
</html>